@import "landing";
@import "album";
@import "collection";
@import "player_bar";
@import "button";
@import "profile";


html {
	height: 100%;
}

body {
	font-family: 'Open Sans';
	color: white;
	min-height: 100%;
  background: -webkit-radial-gradient( #2B1339, #380C77 );
  background: radial-gradient( #2B1339, #380C77 );
  padding-bottom: 150px;
}

body.landing {
	background: #5B5579;
  color: #ffffff;
  padding-bottom: 0
}

player-header-nav {
  background-color: rgba(123, 70, 163, .9);
}