html {
	height: 100%;
}

body {
	font-family: 'Open Sans';
	color: white;
	min-height: 100%;
  background: -webkit-radial-gradient( #2B1339, #380C77 );
  background: radial-gradient( #2B1339, #380C77 );
  padding-bottom: 150px;
}

body.landing {
	background: #5B5579;
  color: #ffffff;
  padding-bottom: 0
}

.hero-content {
	background:#2F1D57;
	padding: 100px;
}

.hero-content h1 {
	font-size: 70px;
	margin-bottom: 50px;
	font-weight: 300;
}

.selling-points {
    padding: 100px;
  }
 
  .selling-points .point {
    width: 32%;
    float: left;
    padding: 0 0.5%;
  }
 
  .selling-points .point h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    height: 85px;
  }
 
  .selling-points .point p {
    font-size: 14px;
  }

  .collection-album-container {
     margin-top: 30px;
     margin-bottom: 20px;
  }
  .collection-album-container .caption {
     margin-top: 10px;
  }
  .collection-album-container .caption p {
     font-size: 16px;
     font-weight: 300;
     color: rgba(255, 255, 255, 0.6);
  }
  .collection-album-container .caption p a {
    color: rgba(255, 255, 255, 0.6);
  }
  .collection-album-container .caption p a.album-name {
    color: white;
  }
 
  .collection-album-container img {
    max-width: 100%;
  }